In [2]:
L=[10,20,30,40,50,60,70,80]
L.append(100)
L.append(300)
print("Final list is: ", L)

Final list is:  [10, 20, 30, 40, 50, 60, 70, 80, 100, 300]

In [3]:
L.remove(10)
L.remove(30)
print("Final list is: ", L)

Final list is:  [20, 40, 50, 60, 70, 80, 100, 300]

In [6]:
L.sort()
print("List in ascending order: ", L)

List in ascending order:  [20, 40, 50, 60, 70, 80, 100, 300]

In [7]:
L.reverse()
print("List in descending order: ", L)

List in descending order:  [300, 100, 80, 70, 60, 50, 40, 20]

In [12]:
scores=(45,89.5,76,45.4,89,92,58,45)
m=max(scores)
f=scores.index(m)
print("Highest marks: ", m)
print("Index of", m, "is", f)

Highest marks:  92
Index of 92 is 5

In [13]:
n=min(scores)
num=scores.count(n)
print("Lowest score is: ", n)
print("Number of times", n, "appears", num, "times")

Lowest score is:  45
Number of times 45 appears 2 times

In [15]:
scores[::-1]
print("Reversed tuple: ", scores)
list1=list(scores)
print("List is", list1)

Reversed tuple:  (45, 89.5, 76, 45.4, 89, 92, 58, 45)
List is [45, 89.5, 76, 45.4, 89, 92, 58, 45]

In [28]:
a=int(input("Enter score to find: "))
len1=len(scores)
flag=0
for i in range(0, len1):
  if a==scores[i]:
    print("Element found at: ", scores.index(a))
    flag=1
    break

else:
    print("Element not found")

Enter score to find: 89
Element found at:  4

In [5]:
import random
list1=[]
count1=0
for i in range(0,100):
  x=random.randint(100,900)
  list1.append(x)
print("Final list is: ", list1)
print("Even numbers: ")
for j in range(0,len(list1)):
  if list1[j]%2==0:
    print(list1[j])
    count1=count1+1

print("Number of even numbers: ", count1)

Final list is:  [653, 483, 419, 503, 280, 449, 832, 719, 171, 590, 167, 525, 298, 393, 145, 559, 222, 156, 781, 421, 140, 210, 442, 861, 873, 502, 360, 662, 490, 331, 165, 755, 735, 383, 235, 878, 868, 676, 110, 543, 398, 750, 333, 577, 831, 788, 267, 656, 825, 636, 777, 169, 516, 786, 538, 474, 773, 399, 402, 695, 794, 419, 264, 435, 220, 524, 208, 279, 308, 789, 446, 361, 379, 701, 263, 459, 645, 240, 831, 108, 427, 529, 437, 271, 298, 155, 555, 732, 621, 848, 253, 550, 470, 394, 590, 888, 660, 531, 679, 469]
Even numbers:
280
832
590
298
222
156
140
210
442
502
360
662
490
878
868
676
110
398
750
788
656
636
516
786
538
474
402
794
264
220
524
208
308
446
240
108
298
732
848
550
470
394
590
888
660
Number of even numbers:  45

In [6]:
import random
list1=[]
count1=0
for i in range(0,100):
  x=random.randint(100,900)
  list1.append(x)
count2=0
print("Odd numbers: ")
for j in range(0,len(list1)):
  if list1[j]%2!=0:
    print(list1[j])
    count2=count2+1
print("Number of odd numbers", count2)

Odd numbers:
807
337
791
597
159
291
575
897
455
353
147
283
475
517
761
815
737
571
129
435
555
621
439
575
169
865
673
553
701
539
141
481
667
385
799
161
647
783
539
721
327
439
833
127
151
713
299
121
811
815
657
545
489
615
703
171
631
615
217
483
665
871
Number of odd numbers 62

In [25]:
import random
list1=[]
for i in range(0,100):
  x=random.randint(100,900)
  list1.append(x)
count3=0
print("Prime numebrs: ")
for j in list1:
  flag=True
  for k in range(2,j):
    if j%k==0:
      flag=False
  if flag:
      print(j)
      count3=count3+1
print("Number of prime numbers: ", count3)

Prime numebrs:
569
797
461
653
547
613
173
283
509
461
191
587
181
Number of prime numbers:  13

In [24]:
A={34,56,78,90}
B={78,45,90,23}
C=A.union(B)
print("Union of sets: ", C)

Union of sets:  {34, 45, 78, 23, 56, 90}

In [25]:
A={34,56,78,90}
B={78,45,90,23}
C=A.intersection(B)
print("Intersection of sets: ", C)

Intersection of sets:  {90, 78}

In [27]:
A={34,56,78,90}
B={78,45,90,23}
C=A.symmetric_difference(B)
print("Symmetric difference of sets: ", C)

Symmetric difference of sets:  {34, 45, 23, 56}

In [28]:
A={34,56,78,90}
B={78,45,90,23}
C=A.issubset(B)
if C==True:
  print("A is a subset of B")
else:
  print("A is not a subset of B")

A is not a subset of B

In [29]:
A={34,56,78,90}
B={78,45,90,23}
C=B.issuperset(A)
if C==True:
  print("B is the superset of A")
else:
  print("B is not the superset of A")

B is not the superset of A

In [36]:
A={34,56,78,90}
B={78,45,90,23}
flag=0
a=int(input("Enter number to find"))
for i in A:
  if a==i:
    A.remove(a)
    flag=1
    break
else:
    print("Element does not exist")

print("Final set: ", A)

Enter number to find78
Final set:  {56, 34, 90}

In [38]:
sample_dict={"name":"Kelly", "age": 25, "salary": 8000, "city": "New York"}
sample_dict["location"]=sample_dict.pop("city")
print("Final dictionary: ", sample_dict)

Final dictionary:  {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}