In [ ]:
print("Cognitive Computing")

Cognitive Computing

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number: "))
sum=a+b
print("Sum is:", sum)

Enter first number:12
Enter second number: 12
Sum is: 24

In [ ]:
a=input("Enter 1st string: ")
b=input("Enter 2nd string: ")
string1=a+b
print("Final string is:", string1)

Enter 1st string: Hi
Enter 2nd string: Welcome
Final string is: HiWelcome

In [ ]:
a=input("Enter a string:")
b=input("Enter a number: ")
final=a+str(b)
print("Final string is: ", final)

Enter a string:Hello
Enter a number: 20
Final string is:  Hello20

In [ ]:
a=int(input("Enter a number: "))
if a>0:
  print("Number is positive")
elif a<0:
  print("Number is negative")
else:
  print("Number is zero")

Enter a number: 10
Number is positive

In [ ]:
a=int(input("Enter a number: "))
if a%2==0:
  print("Number is even")
else:
  print("Number is odd")

Enter a number: 23
Number is odd

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
sum=0
while i<=100:
  sum=sum+i
  i=i+1

print("Sum of number from 1-100 is: ", sum)

Sum of number from 1-100 is:  5050

In [ ]:
list1=[10,20,35,25,15]
print(min(list1))
print(max(list1))

10
35

In [ ]:
dict1={1:"One", 2:"Two", 3:"Three", 4:"Four"}
a=int(input("Key value to retrieve:"))
dict1[a]

Key value to retrieve:2

'Two'

In [ ]:
l=[1,22,11,7,34]
l.sort()
print("Ascending order:", l)
l.reverse()
print("Descending order", l)

Ascending order: [1, 7, 11, 22, 34]
Descending order [34, 22, 11, 7, 1]

In [ ]:
dict1={1:"One", 2:"Two", 3:"Three", 4:"Four"}
dict2={5:"Five", 6:"Six", 7:"Seven"}
dict3={}
dict3.update(dict1)
dict3.update(dict2)
dict3

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [ ]:
a=input("Enter a string: ")
n=len(a)
count=0
for i in range(0,n):
  if a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u':
    count=count+1

print("Number of vowels:", count)

Enter a string: Hello I was asleep
Number of vowels: 6

In [ ]:
a=input("Enter a string: ")
a[::-1]
print("Reversed string is: ",a[::-1] )

Enter a string: Hello
Reversed string is:  olleH

In [ ]:
a=input("Enter a string:")
if a==a[::-1]:
  print("String is a palindrome")
else:
  print("String is not a palindrome")

Enter a string:racecar
String is a palindrome

In [ ]:
f=open("Assignment_1.txt", "w")
f.write("Hi, welcome!")
f.close()

f=open("Assignment_1.txt", "r")
print(f.read())

Hi, welcome!

In [ ]:
f=open("Assignment_1.txt", "a")
f.write("Hello")
f.close()

f=open("Assignment_1.txt", "r")
print(f.read())

Hi, welcome!Hello

In [ ]:
f=open("file1.txt", "r")
count=len(f.readlines())
print("Total number of lines in file: ", count)

Total number of lines in file:  0

In [ ]:
a=10
try:
  b=a/0
except ZeroDivisionError:
  print("Cannot divide by zero")

Cannot divide by zero

In [ ]:
a=input("Enter number")
try:
  x=int("a")
  b=1/x
except ValueError:
  print("Invalid input")

Enter numberas
Invalid input

In [ ]:
a=int(input("Enter number"))
n=int(input("Enter divisor"))
try:
  b=a%n
except ZeroDivisionError:
  print("Cannot be divided by zero")
else:
  print("Answer", b)
finally:
  print("Code executed")

Enter number10
Enter divisor0
Cannot be divided by zero
Code executed

In [ ]:
import random
random.randint(0,100)

28

In [ ]:
import random
n=random.randint(0,10)
print(n)
for i in range(2,n):
  if (n%i)==0:
    print("Number is composite")
  else:
    print("Number is prime")
    break

7
Number is prime

In [ ]:
import random
n=random.randint(1,6)
print("Number on dice", n)

Number on dice 3

In [ ]:
list1=[1,2,3,4,5,6]
random.shuffle(list1)
print(list1)

[4, 3, 5, 1, 6, 2]

In [ ]:
list1=[1,2,3,4,5,6]
random.choice(list1)

4

In [ ]:
import string
import random
a=random.choice(string.ascii_letters)
b=random.choice(string.digits)
c=random.choice(string.punctuation)
len=int(input("Enter lentgh of password"))
pass1=" "
while i<len:
  pass1=+a
  pass1=+b
  pass1=+c
print("Random password is:", pass1)

In [ ]:
import random
l1s=['Spades', 'Clubs', 'Hearts', 'Diamonds']
l2s=['Ace','2','3','4','5','6','7','8','9','10', 'Jack', 'Queen', 'King']
a=random.choice(l1s)
b=random.choice(l2s)
print(f"{a} of {b}")

Hearts of 4

In [ ]:
import sys
sys.argv=["sum", "5", "8", "10"]
a=float(sys.argv[1])
b=float(sys.argv[2])
sum=a+b
print(sum)

13.0

In [ ]:
import sys
str1=sys.argv[1]
print("Length of the string is: ", len(str1))

Length of the string is:  1

In [ ]:
import math
a=int(input("Enter a number:"))
s=math.sqrt(a)
print(s)

Enter a number:16
4.0

In [ ]:
from datetime import date
d=date.today()
print("Today's date is:", d)

Today's date is: 2025-01-15

In [ ]:
import os
os.listdir()

['.config', 'sample_data']